Martijn Vriessen <m.vriessen@mms-projects.net> Martijn<Martijn@Martijn-PC>
Weblate <weblate@mms-projects.net> Weblate <noreply@weblate.org>
Tren Braat <tren_b@live.nl>
Laszlo Van Oudenhove <l.vanoudenhove@mms-projects.net>
Roderik Zandberg <rojod@live.nl> Roderik Zandberg <Roderik@Ro-dev.nl>
Iñaki Ibargoyen <aspid.92@gmail.com>
