<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mms_projects.copy_it"
    android:installLocation="internalOnly"
    android:versionCode="0"
    android:versionName="0.0.1-ant" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="net.mms_projects.copyit.app.AndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.mms_projects.copyit.ui.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.mms_projects.copyit.ui.android.BrowserLoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="net.mms_projects.copyit.ui.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mms_projects.copyit.ui.android.MainActivity" />
        </activity>
        <activity
            android:name="net.mms_projects.copyit.ui.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="net.mms_projects.copyit.ui.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mms_projects.copyit.ui.android.MainActivity" />
        </activity>
        <activity
            android:name="net.mms_projects.copyit.ui.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="net.mms_projects.copyit.ui.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mms_projects.copyit.ui.android.MainActivity" />

            <intent-filter>
                <action android:name="net.mms_projects.copyit.ui.android.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.mms_projects.copyit.ui.android.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:parentActivityName="net.mms_projects.copyit.ui.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mms_projects.copyit.ui.android.MainActivity" />
        </activity>
        <activity
            android:name="net.mms_projects.copyit.ui.android.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="net.mms_projects.copyit.ui.android.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mms_projects.copyit.ui.android.SettingsActivity" />

            <intent-filter>
                <action android:name="net.mms_projects.copyit.ui.android.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.mms_projects.copyit.ui.android.UpdateActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_update"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity
            android:name="net.mms_projects.copyit.ui.android.DebugActivity"
            android:label="@string/title_activity_debug"
            android:screenOrientation="landscape" />

        <receiver
            android:name="net.mms_projects.copyit.ui.android.widgets.WidgetGeneral"
            android:label="@string/widget_title_general" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_general_info" />
        </receiver>
        <receiver
            android:name="net.mms_projects.copyit.ui.android.widgets.WidgetCopyIt"
            android:label="@string/widget_title_copyit" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_copyit_info" />
        </receiver>
        <receiver
            android:name="net.mms_projects.copyit.ui.android.widgets.WidgetPasteIt"
            android:label="@string/widget_title_pasteit" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_pasteit_info" />
        </receiver>
        <receiver
            android:name="net.mms_projects.copyit.ui.android.widgets.WidgetCopyItPasteIt"
            android:label="@string/widget_title_copyit_pasteit" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_copyit_pasteit_info" />
        </receiver>
        <receiver android:name="net.mms_projects.copyit.ui.android.DebugActivity$Launch" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="267948"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
